<div class="card {{color}} lighten-2">
    <div class="{{type == 'image'? 'card-image' : 'card-content'}}">
        <span *ngIf="(title != '') && !editing" class="card-title" style="z-index:1;">{{title}}</span>
        <input [hidden]="!editing" [(ngModel)]="title" class="card-title" style="z-index:1;" />
        <text-card *ngIf="type == 'text'" [text]="content" [editing]="editing"></text-card>
        <link-card *ngIf="type == 'link'" [link]="content" [editing]="editing"></link-card>
        <image-card *ngIf="type == 'image'" [link]="content" [editing]="editing"></image-card>
        <file-card *ngIf="type == 'file'" [link]="content" [editing]="editing"></file-card>
        <!--
            <canvas-card *ngIf="type == 'canvas'" [data]="content" [editing]="editing"></canvas-card>
        -->
    </div>
    <div class="card-action">
        <a class="btn-floating waves-effect waves-light blue" (click)="toggle_edit()">
            <i class="material-icons">{{editing? 'done' : 'edit'}}</i>
        </a>
        <a class="btn-floating waves-effect waves-light blue" (click)="delete()">
            <i class="material-icons">delete</i>
        </a>
        <div class="fixed-action-btn horizontal" style="position: relative; float: right; margin-top: 1.5em; margin-right: -1.5em;">
            <a class="btn-floating blue">
                <i class="material-icons">invert_colors</i>
            </a>
            <ul style="margin-top: -1em; margin-right: -2em;">
                <li>
                    <a class="btn-floating white darken-1" (click)="changeColor('white')"></a>
                    <a class="btn-floating red darken-1" (click)="changeColor('red')"></a>
                    <a class="btn-floating blue darken-1" (click)="changeColor('blue')"></a>
                    <a class="btn-floating green darken-1" (click)="changeColor('green')"></a>
                    <a class="btn-floating yellow darken-1" (click)="changeColor('yellow')"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
