.chat{
    position:absolute;
    margin: 0 !important;
    right: 0px;
    top: 0px;
    height: 100%;
    width:100%;
}
.close{
    position:absolute;
    left:0.5em;
    top:0.5em;
}
.big{
    font-size: 20pt;
}
.msg{
    padding:10px !important;
    width:80%;
    float:left;
    background-color: #424242;
    margin-bottom: 0.1rem;
}
.mssend{
    position:absolute;
    bottom:10em;
    width:80%;
    height:2em;
}
.mine{
    float:right;
    background-color: #616161;
}
.msg .sender{
    color:#AAA;
}
.messages{
    margin-top:2em;
}