<div class="card-panel cyan chat">
    <div class="close" (click)="close_chat.emit(null)">
        <a alt="close">
            <i class="material-icons white-text big">
                close
            </i>
        </a>
    </div>
    <div class="messages card-content">
        <div class="card-panel grey darken-3 msg white-text mine">
            <span class="sender">@jos</span>
            <span class="text">Hi!</span>
        </div>
        <div class="card-panel grey darken-3 msg white-text">
            <span class="sender">@elias</span>
            <span class="text">Hi!</span>
        </div>
    </div>
    <div class="card-action mssend">
        
    </div>
</div>