#content{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
}
#createboard{
    position:absolute;
    top:50%;
    left:50%;
    width:30em;
    height:12em;
    margin-left: -15em;
    margin-top: -10em;
}
#logo{
    font-family: 'Aldrich', sans-serif;
    font-size: 40pt;
    text-align:center;
}
#bckgrnd{
    background-color: #EEE; //later an backgroud image
    background-size: auto 100%;
    position:fixed;
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    bottom:0;
    filter: blur(3px); brightness(50%);
}
