<div id="bckgrnd">
</div>
<div id="content">
    <div id="createboard" class="card-panel tear">
        <div id="logo">
            brainshare
        </div>
        <div id="action" class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s8">
                        <input id="icon_prefix" type="text" class="validate" />
                        <label for="icon_prefix">
                            Nickname
                        </label>
                    </div>
                    <div class="col s4">
                        <a class="waves-effect waves-light btn input-field" href="board.html">
                            <i class="material-icons">
                                add
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
