<div *ngIf="collumns == 1" class="row">
    <div class="col span 12">
        <card *ngFor="let card_data of cards; let i = index;" [data]="card_data" [id]="i" (on_delete)="delete(i)"></card>
    </div>
</div>
<div *ngIf="collumns != 1" class="row">
    <div *ngFor="let cards_in_collumn of card_table; let i = index" class="col {{'s' + (12/collumns).toString()}}">
        <card *ngFor="let card_data of cards_in_collumn; let j = index" [data]="card_data" [id]="card_data.id" (on_delete)="delete(card_data.id)" class="{{'app_card' + card_data.id.toString()}}"></card>
    </div>
</div>
<div id="userq" class="">
    <div id="content">
    <div id="createscreen" class="card-panel tear">
      <div id="logo">
        brainshare.io
      </div>
      <div id="action" class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s8">
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Nickname</label>
            </div>
            <div class="col s4">
              <a class="waves-effect waves-light btn input-field" href="board.html">
                <i class="material-icons">add</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>