.loader{
    position: fixed;
    left: 50%; top: 50%;
    width: 180px !important;
    height: 180px !important;
    margin: -90px 0 0 -90px;
}
.loaddiv{
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 9999;
    background: #EEE;
}
