.loader{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.loaddiv{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:#EEE;
}
